.venv
.env
__pycache__/
*.pyc
instance/
.webassets-cache
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.sqlite3
.DS_Store
migrations/
*.egg-info/
dist/
build/
pip-wheel-metadata/
.pyre/
celerybeat-schedule
celerybeat.pid
*.sqlite3
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.envrc
.venv/
.env.bak
.env.local
.env.*.local
.env.testing
.env.testing.local
.env.production
.env.production.local
.env.staging
.env.staging.local
.env.dev
data/
data/*
models/
models/*